<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="TiendaElectronicaEntities" connectionString="metadata=res://*/ElectronicaModel.csdl|res://*/ElectronicaModel.ssdl|res://*/ElectronicaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SOLID\SQLEXPRESS;initial catalog=TiendaElectronica;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TiendaElectronicaEntities1" connectionString="metadata=res://*/TiendaElectronicaModel.csdl|res://*/TiendaElectronicaModel.ssdl|res://*/TiendaElectronicaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SOLID\SQLEXPRESS;initial catalog=TiendaElectronica;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TiendaElectronicaRecreadaEntities" connectionString="metadata=res://*/TiendaRecreadaModel.csdl|res://*/TiendaRecreadaModel.ssdl|res://*/TiendaRecreadaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LC160402\SQLEXPRESS;initial catalog=TiendaElectronica;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TiendaElectronicaEntities2" connectionString="metadata=res://*/TiendaModel.csdl|res://*/TiendaModel.ssdl|res://*/TiendaModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LC160402\SQLEXPRESS;initial catalog=TiendaElectronica;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>